/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* base style */
html,
body,
.container { height: 100% }

body {
  background-color: #272727;
  color: #eee;
  margin: 0 }

/* cotainer */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto }

/* github log */
.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out }

@media ( max-width: 500px ) {
  .github-corner:hover .octo-arm { animation: none }
  
  .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out }
}

@keyframes octocat-wave {
  0%,
  100% { transform: rotate( 0 ) }
  
  20%,
  60% { transform: rotate( -25deg ) }
  
  40%,
  80% { transform: rotate( 10deg ) }
}

/* clock */
.clock {
  display: block;
  margin: 30px auto;
  max-width: 200px;
  position: relative }

.clock__arrow { transform-origin: bottom }

/* countdown */
.countdown { padding: 30px }

.countdown__text {
  font-weight: 400;
  margin: 10px 0;
  text-align: center }

.countdown__text--title {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  text-shadow: 3px 3px 3px #37474F }

.countdown__text--time {
  font-family: 'Roboto', sans-serif;
  font-size: 50px }

/* footer */
footer {
  align-items: center;
  background-color: #37474F;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  padding: 10px }

/* Pulse heart */
.heart {
  -webkit-animation: pulse .5s infinite alternate ease-in;
          animation: pulse .5s infinite alternate ease-in;
  background-color: #C62828;
  display: inline-block;
  height: 10px;
  margin: 8px 10px;
  position: relative;
  width: 10px }

.heart:before {
  background-color: #C62828;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 10px }

.heart:after {
  background-color: #C62828;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 10px }

@keyframes pulse {
  from {
    -webkit-transform: rotate( -135deg ) scale( 1 );
            transform: rotate( -135deg ) scale( 1 ) }
  to {
    -webkit-transform: rotate( -135deg ) scale( 1.2 );
            transform: rotate( -135deg ) scale( 1.2 ) }
}