/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* base style */
html,
body,
.container { height: 100% }

body {
  background-color: #272727;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  margin: 0 }

/* cotainer */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto }

/* github log */
.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out }

@media ( max-width: 500px ) {
  .github-corner:hover .octo-arm { animation: none }

  .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out }
}

@keyframes octocat-wave {
  0%,
  100% { transform: rotate( 0 ) }

  20%,
  60% { transform: rotate( -25deg ) }

  40%,
  80% { transform: rotate( 10deg ) }
}

/* clock */
.clock {
  display: block;
  margin: 30px auto;
  max-width: 200px;
  position: relative }

.clock__arrow { transform-origin: bottom }

/* countdown */
.countdown { padding: 30px }

.countdown__text {
  font-weight: 400;
  margin: 10px 0;
  text-align: center }

.countdown__text--title {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  text-shadow: 3px 3px 3px #37474F }

@media screen and (max-width: 400px) {
  .countdown__text--title { font-size: 30px }
}

.countdown__text--time { font-size: 50px }

.countdown__text--time > span { margin: 0 5px }

@media screen and (max-width: 400px) {
  .countdown__text--time { font-size: 25px }
}

/* footer */
.footer {
  align-items: center;
  background-color: #37474F;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 10px }

.footer__heart {
  animation: pulse .5s infinite alternate ease-in;
  display: inline-block;
  fill: #C62828;
  height: 15px;
  margin: 8px 10px;
  position: relative;
  width: 15px }

.footer__text { font-size: 20px }

.footer__text--link-profile {
  border-bottom: 2px solid transparent;
  color: #FFF;
  margin-left: 10px;
  text-decoration: none;
  transition: border-bottom .3s ease-in-out, opacity .3s ease-out;
  padding: 3px }

.footer__text--link-profile:hover {
  border-bottom: 2px solid #C62828;
  opacity: .9 }

@keyframes pulse {
  from { transform: scale( 1 ) }

  to { transform: scale( 1.2 ) }
}
