/* clock */
.clock {
  display: block;
  margin: 30px auto;
  max-width: 200px;
  position: relative }

.clock__arrow { transform-origin: center }

/* countdown */
.countdown { padding: 30px }

.countdown__text {
  font-weight: 400;
  margin: 10px 0;
  text-align: center }

.countdown__text--title {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  text-shadow: 3px 3px 3px #37474F }

@media screen and (max-width: 400px) {
  .countdown__text--title { font-size: 30px }
}

.countdown__text--time { font-size: 50px }

.countdown__text--time > span { margin: 0 5px }

@media screen and (max-width: 400px) {
  .countdown__text--time { font-size: 25px }
}

