extends ./layouts/default.pug

block content
  div.countdown
    h1.countdown__text.countdown__text--title Countdown to Sunday
    include ./assets/svgs/clock.svg
    h2.countdown__text.countdown__text--time
      span( data-js='remaining-days' )
      span days and
      span( data-js='time' )
